body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fafafa;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

/* כפתור הורדה */
.download-btn {
  display: inline-block;
  margin-top: 1em;
  padding: 0.3em 0.6em;
  background-color: #0066cc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1em;
}

.download-btn:hover {
  background-color: #004999;
}

/* Lightbox */
.lightbox img {
  max-width: 90vw;   /* לא יותר מ-90% מרוחב המסך */
  max-height: 90vh;  /* לא יותר מ-90% מגובה המסך */
  display: block;
  margin: auto;
  transition: transform 0.3s;
}
